<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script language="Javascript" type="text/javascript">



    google.load("search", "1", {language:'en', style:google.loader.themes.MINIMALIST});

    var searchControl;

    function showSearchResults(e) {
        var value = $("#searchForm .search-query").val();
        searchControl.execute(value);
        $("#search-panel").show();
        e.preventDefault();
    }



    // called on form submit
//    function newSearch(form) {
//      if (form.input.value) {
//        this.searchControl.execute(form.input.value);
//      }
//      return false;
//    }

    function OnLoad() {

        // create a search form without a clear button
        // bind form submission to my custom code

        // Create a search control

        searchControl = new google.search.SearchControl();
        // Add in a WebSearch
        var webSearch = new google.search.WebSearch();

        var options = new google.search.SearcherOptions();
        options.setExpandMode(google.search.SearchControl.EXPAND_MODE_OPEN);
        options.setRoot(document.getElementById("search-results"));

        var drawOptions = new google.search.DrawOptions();
        drawOptions.setDrawMode(google.search.SearchControl.DRAW_MODE_LINEAR);

        searchControl.addSearcher(webSearch, options);


        searchControl.draw();

        // Restrict our search to pages from this site
        webSearch.setSiteRestriction('http://yannis.mazzer.info');

        var branding = google.search.Search.getBranding(document.getElementById("googleBranding"));


        $("#searchSubmit").click(
                showSearchResults
        )
        $("#searchForm").submit(
                showSearchResults
        )
    }
    google.setOnLoadCallback(OnLoad);


</script>



