html {
    background-image: url(https://cartodb.com/assets/backgrounds/noise-0ca2f58c04d11ef18fc9dd00894db86c.jpg);
}

body {
    background: transparent;
}

#search {
 /*   float: right;
    margin-right: 3%;
    display: inline-block;
    vertical-align: top;*/
    padding-top: 6px;
    height: 34px;
    padding-right: 1%;
    width: 100%;
}

#search-panel {
    display: none;
}

#searchForm {
    float: right;
    margin-right: 3%;
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
    height: 14px;
    padding-right: 1%;
    width: 20%;
}

.navbar {
    border-bottom: 1px solid gray;
    min-width: 940px;
}

.navbar-inner {
    background-image: -moz-linear-gradient(top, #234,#012);
    background-image: -ms-linear-gradient(top, #234,#012);
    background-image: -o-linear-gradient(top, #234,#012);
    background-image: -webkit-linear-gradient(top, #234,#012);
    background-image: linear-gradient(top, #234,#012);
    border-radius: 0;
    padding: 0;
}

.navbar .nav {
    float: right;
    left: auto;
    margin-right: 0;
    padding-right: 0;
}

.navbar-inner .container {
    display: inline-block;
    vertical-align: top;
    width: 67%;
    margin-left: 3%;
    min-width: 650px;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 0 0;
    background-image: url(../img/logo_site.png), -moz-linear-gradient(top, #234,#012);
    background-image: url(../img/logo_site.png), -ms-linear-gradient(top, #234,#012);
    background-image: url(../img/logo_site.png), -o-linear-gradient(top, #234,#012);
    background-image: url(../img/logo_site.png), -webkit-linear-gradient(top, #234,#012);
    background-image: url(../img/logo_site.png), linear-gradient(top, #234,#012);
    background-position: 50%;
    background-repeat: no-repeat;
    margin-right: 0;
}

.container {
    width: 100%;
    min-width: 940px;
}

.container.main {
    background-image: -moz-radial-gradient(50% 10%,rgba(10, 20, 30, 0.1),rgba(20, 30, 40, 0));
    background-image: -ms-radial-gradient(50% 10%,rgba(10, 20, 30, 0.1),rgba(20, 30, 40, 0));
    background-image: -o-radial-gradient(50% 10%,rgba(10, 20, 30, 0.1),rgba(20, 30, 40, 0));
    background-image: -webkit-radial-gradient(50% 10%,rgba(10, 20, 30, 0.1),rgba(20, 30, 40, 0));
    background-image: radial-gradient(50% 10%,rgba(10, 20, 30, 0.1),rgba(20, 30, 40, 0));
}

.row {
    margin-left: 0;
    text-align: center;
}

.content {
    display: inline-block;
    vertical-align: top;
    width: 67%;
    min-width: 650px;
    margin-left: 3%;
    padding: 1%;
    box-shadow: 0 3px 10px #333;
    background-color: white;
    color: black;
}

.content .page-header {
    border-radius: 0 0 6px 6px;
    background: -moz-linear-gradient(top, whiteSmoke, white);
    background: -ms-linear-gradient(top, whiteSmoke, white);
    background: -o-linear-gradient(top, whiteSmoke, white);
    background: -webkit-linear-gradient(top, whiteSmoke, white);
    background: linear-gradient(top, whiteSmoke, white);
    text-shadow: 1px 1px #CCC;
    padding-top: 10px;
    color: whiteSmoke;
    text-align: center;
    margin: -1.5% 0 20px 0;
}

.content .page-header h1 {
    font-size: 1.4em;
    color: #123;
    font-weight: normal;
}

#sidebar {
    display: inline-block;
    float: right;
    vertical-align: top;
    width: 20%;
    padding: 1%;
    margin-right: 3%;
    margin-top: -1%;
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0 0 6px 6px;
    padding: 1%;
    box-shadow: 0 3px 10px #333;
    background-color: white;
    color: black;
    margin-bottom: 5%;
}

.sidebar .page-header {
    border-radius: 0 0 6px 6px;
    background: -moz-linear-gradient(top, whiteSmoke, white);
    background: -ms-linear-gradient(top, whiteSmoke, white);
    background: -o-linear-gradient(top, whiteSmoke, white);
    background: -webkit-linear-gradient(top, whiteSmoke, white);
    background: linear-gradient(top, whiteSmoke, white);
    text-shadow: 1px 1px #CCC;
    padding-top: 10px;
    color: whiteSmoke;
    text-align: center;
    margin: -1% 0 10px 0;
}

.sidebar .page-header h1 {
    font-size: 1.4em;
    color: #123;
    font-weight: normal;
}

footer .nav li {
    display: inline-block;
}

div.article {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 635px;
}

.container footer {
    clear: both;
    margin-top: 20px;
    border-top: 1px dashed black;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    padding-top: 1%;
}

.container footer .nav {
    display: none;
}
/*a {*/
    /*color: #cc3333;*/
/*}*/

/*a:hover {*/
    /*color: #993333;*/
/*}*/

pre {
    background-color: #234;
    background-image: -moz-linear-gradient(top, #012,#234);
    background-image: -ms-linear-gradient(top, #012,#234);
    background-image: -o-linear-gradient(top, #012,#234);
    background-image: -webkit-linear-gradient(top, #012,#234);
    background-image: linear-gradient(top, #012,#234);
    color: #def;
    border: 1px solid #ccc;
}

code {
    color: #08c;
}


#tagCanvasContainer {
    text-align: center;
}

.twtr-hd {
    display: none;
}

.twtr-ft {
    display: none;
}

#twtr-widget-1 .twtr-doc {
    background-color: #234;
    background-image: -moz-linear-gradient(top, #012,#234);
    background-image: -ms-linear-gradient(top, #012,#234);
    background-image: -o-linear-gradient(top, #012,#234);
    background-image: -webkit-linear-gradient(top, #012,#234) !important;
    background-image: linear-gradient(top, #012,#234);
    color: #def !important;
}

.gsc-control {
  width: 100%;
}
