body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background: transparent;
    font-size: 12px;
}

h1 {
    font-size: 28px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h2 {
    font-size: 23px;
    line-height: 36px;
}

h3 {
    font-size: 18px;
}
h4 {
    font-size: 13px;
    line-height: 18px;
}



#search {
 /*   float: right;
    margin-right: 3%;
    display: inline-block;
    vertical-align: top;*/
    padding-top: 6px;
    height: 34px;
    padding-right: 1%;
    width: 100%;
}

#search-panel {
    display: none;
}


.nav {
    margin-top: 4px;
    margin-bottom: 4px;
}

.nav li a {
    color: #999;
}

.nav li a:hover {
    background: none;
    color: #F2F2F2;
}

.navbar {
    border-bottom: 1px solid gray;
    margin-bottom:0;
}

.main-header {
    border-radius: 0;
    border: none;
    vertical-align: middle;

    background-image: url(../img/logo_site.png), -moz-linear-gradient(top, #234,#012);
    background-image: url(../img/logo_site.png), -ms-linear-gradient(top, #234,#012);
    background-image: url(../img/logo_site.png), -o-linear-gradient(top, #234,#012);
    background-image: url(../img/logo_site.png), -webkit-linear-gradient(top, #234,#012);
    background-image: url(../img/logo_site.png), linear-gradient(top, #234,#012);
    background-position: 37%;
    background-repeat: no-repeat;
}

.brand-container {
    padding-top: 10px;
}

.main-header a.brand {
    /*font-weight: bold;*/
    /*font-family: "Yanone Kaffeesatz";*/
    font-variant: small-caps;
    color: white;
    text-shadow: 0;
    font-size: 1.2em;
    margin-top: 6px;
}

.main-header a.brand:hover {
    text-decoration: none;
}

.container {
}

.container-fluid.main {
    background-image: -moz-radial-gradient(50% 10%,rgba(10, 20, 30, 0.3),rgba(20, 30, 40, 0.1));
    background-image: -ms-radial-gradient(50% 10%,rgba(10, 20, 30, 0.3),rgba(20, 30, 40, 0.1));
    background-image: -o-radial-gradient(50% 10%,rgba(10, 20, 30, 0.3),rgba(20, 30, 40, 0.1));
    background-image: -webkit-radial-gradient(50% 10%,rgba(10, 20, 30, 0.3),rgba(20, 30, 40, 0.1));
    background-image: radial-gradient(50% 10%,rgba(10, 20, 30, 0.3),rgba(20, 30, 40, 0.1));
}

.row {
    text-align: center;
}

.content {
    background-color: white;
    color: black;
}

.content .page-header {
    background: -moz-linear-gradient(top, whiteSmoke, white);
    background: -ms-linear-gradient(top, whiteSmoke, white);
    background: -o-linear-gradient(top, whiteSmoke, white);
    background: -webkit-linear-gradient(top, whiteSmoke, white);
    background: linear-gradient(top, whiteSmoke, white);
    text-shadow: 2px 2px #f2f2f2;
    color: whiteSmoke;
    text-align: center;
    margin-top: 0;
    padding-bottom: 0;
}

.content .page-header h1 {
    font-size: 1.4em;
    color: #123;
    font-weight: normal;
}

#sidebar {
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.6);
    background-color: white;
    color: black;
    margin-bottom: 30px;
}

.page {
    padding: 0 1% 1% 1%;
}

.sidebar .page-header {
    background: -moz-linear-gradient(top, whiteSmoke, white);
    background: -ms-linear-gradient(top, whiteSmoke, white);
    background: -o-linear-gradient(top, whiteSmoke, white);
    background: -webkit-linear-gradient(top, whiteSmoke, white);
    background: linear-gradient(top, whiteSmoke, white);
    text-shadow: 2px 2px #f2f2f2;
    color: whiteSmoke;
    text-align: center;
    margin: 0 0 10px 0;
    padding-bottom: 0;
}

.sidebar .page-header h1 {
    font-size: 1.4em;
    color: #123;
    font-weight: normal;
}

footer .nav li {
}

div.article {
    text-align: justify;
}

footer {
    margin-top: 20px;
    padding-top: 1%;
    border-top: 1px dashed black;
    color: black;
    text-align: center;
}
/*a {*/
    /*color: #cc3333;*/
/*}*/

/*a:hover {*/
    /*color: #993333;*/
/*}*/

pre {
    background-color: #234;
    background-image: -moz-linear-gradient(top, #012,#234);
    background-image: -ms-linear-gradient(top, #012,#234);
    background-image: -o-linear-gradient(top, #012,#234);
    background-image: -webkit-linear-gradient(top, #012,#234);
    background-image: linear-gradient(top, #012,#234);
    color: #def;
    border: 1px solid #ccc;
}

code {
    color: #08c;
}


#tagCanvasContainer {
    text-align: center;
}

.twtr-hd {
    display: none;
}

.twtr-ft {
    display: none;
}

#twtr-widget-1 .twtr-doc {
    background-color: transparent;
}

.gsc-control {
  width: 100%;
}

#twtr-widget-1 .twtr-tweet a {
    color: #08c;
}

#twtr-widget-1 .twtr-tweet a:hover {
    color: #005580;
}

.cse .gsc-branding, .gsc-branding {
    display: block;
}

.branding {
    padding: 0 1% 1% 0;
}

.cse .gs-result .gs-snippet, .gs-result .gs-snippet, .cse .gs-spelling-original, .gs-spelling-original {
    font-size: 12px;
}

.cse .gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link,
.cse .gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:link b,
.cse .gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited,
.cse .gs-webResult.gs-result a.gs-title:visited b,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b,
.cse .gsc-cursor-page,
.gsc-cursor-page,
.cse .gsc-trailing-more-results:link,
.gsc-trailing-more-results:link,
.cse .gs-spelling a,
.gs-spelling a {
    color: #08c;
    text-decoration: none;
}


.cse .gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover,
.cse .gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b,
.cse .gs-spelling a:hover,
.gs-spelling a:hover {
    color: #005580;
    text-decoration: underline;
}
